
.godot/editor/Alarm.mp3-b7898e043dc4e042309dea10969e59a1.mp3str-folding-ce6b1b369f17e83791b4b6e702ac6649.cfg
.godot/editor/AnalyzedNotif.tscn-editstate-89fba4a691da3669d277648a67108667.cfg
.godot/editor/create_recent.Node
.godot/editor/CustomPopUp.tscn-editstate-6670df733e35d01767e1f25a1a49f76e.cfg
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/inventory.tscn-editstate-8cc4086b57f48da850bce4404ebc4bb3.cfg
.godot/editor/LowStatNotif.gd-folding-3c438461922044fc11fd5e95ae61b9e0.cfg
.godot/editor/LowStatNotif.tscn-editstate-a0f33f4cfaca51a75d9951cae65650d8.cfg
.godot/editor/LowStatNotif.tscn-folding-a0f33f4cfaca51a75d9951cae65650d8.cfg
.godot/editor/map.tscn-editstate-522b15b96246958d270083e8689e20e5.cfg
.godot/editor/map_spot.tscn-editstate-86f0460dced1c305e2f364d8c6e81077.cfg
.godot/editor/OxygenTank.tres-folding-1a769ab0fbc4a10de3d8c0a37a3db4c8.cfg
.godot/editor/player_ship.tscn-editstate-df6ecfdb7779badc2e1cd5b60541c0fb.cfg
.godot/editor/player_ship.tscn-folding-df6ecfdb7779badc2e1cd5b60541c0fb.cfg
.godot/editor/project_metadata.cfg
.godot/editor/recent_dirs
.godot/editor/Rock.tscn-editstate-8c4727382c0b25a3ea58624a6039de8a.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/SpaceShip.tscn-editstate-5bc1ab89e4c21708e2f7b2a836aaee9e.cfg
.godot/editor/SpaceShip2.tscn-editstate-3b3d8e9ab924ff03094ce780c9a27e68.cfg
.godot/editor/starting_menu.tscn-editstate-020d8ea01f4ef311d94d1946c6d1690d.cfg
.godot/editor/StartingScreen.tscn-editstate-cab451f9efa350ce2fdfb4c78d15331f.cfg
.godot/editor/stat_panel.tscn-editstate-9fbfd408c88508f1ac61e1f49225230c.cfg
.godot/editor/SteeringWheel.tscn-editstate-ebc7c456050bb2666be64d7dec1a6e3a.cfg
.godot/editor/SupplyCache.tscn-editstate-4d3f51d8a53a9831ae30af55e9a4abd2.cfg
.godot/editor/SupplyCacheRare.tscn-editstate-fbfe5c0d4fabd60323865614ecc837d8.cfg
.godot/editor/thrust_slider.tscn-editstate-648766b3c84fc5856cbe72b32ae57f0b.cfg
.godot/editor/thrust_slider.tscn-folding-648766b3c84fc5856cbe72b32ae57f0b.cfg
.godot/editor/TravelMinigameGame.tscn-editstate-4bda5707ff913ba4f05ed4e51560ce49.cfg
.godot/editor/UISTatContainer.tscn-editstate-c5921815f6b775aba8fb298c800d9dad.cfg
.godot/editor/UISTatContainer.tscn-folding-c5921815f6b775aba8fb298c800d9dad.cfg
.godot/editor/virtual_joystick_scene.tscn-editstate-4fefb2d1c978e429fe9cfeba8aa59129.cfg
.godot/editor/world.tscn-editstate-0271e18ecf37a36b455ad0b215994549.cfg
.godot/editor/world.tscn-folding-0271e18ecf37a36b455ad0b215994549.cfg
.godot/global_script_class_cache.cfg
.godot/imported/Alarm.mp3-b7898e043dc4e042309dea10969e59a1.md5
.godot/imported/Alarm.mp3-b7898e043dc4e042309dea10969e59a1.mp3str
.godot/imported/hazard-sign.png-44824cdaf5fb40545219daf89fe3530f.ctex
.godot/imported/hazard-sign.png-44824cdaf5fb40545219daf89fe3530f.md5
.godot/scene_groups_cache.cfg
.godot/uid_cache.bin
Assets/hazard-sign.png
Assets/hazard-sign.png.import
.godot/editor/map_spot.tscn-editstate-86f0460dced1c305e2f364d8c6e81077.cfg
/.godot
/.godot
*.cfg
/addons/imgui-godot
/.godot/exported
/.godot/editor
/android/build/.gradle
/android/build
/.godot/editor
